<mat-toolbar color="primary">
  	
  	<span>Welcome to Richard's Site.</span>
  	<span class='menu-spacer'></span>
  	
  	<div fxShow="true" fxHide.lt-sm>
		<button mat-button routerLink='/home'>Home</button>
		<button mat-button routerLink='/about'>About Me</button>
		<button mat-button routerLink='/updates'>Updates</button>
		<button mat-button routerLink='/contact'>Contact Me</button>
	</div>
	
	<div fxShow="true" fxHide.gt-xs>
		<button mat-icon-button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
</mat-toolbar>
		<nav class="navbar navbar-light">
		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li [routerLinkActive]="['active']">
					<a class="nav-link" [routerLink]="'/home'" (click)="isMenuCollapsed = true">Home</a>
				</li>
				<li [routerLinkActive]="['active']">
					<a class="nav-link" [routerLink]="'/about'" (click)="isMenuCollapsed = true">About Me</a>
				</li>
				<li [routerLinkActive]="['active']">
					<a class="nav-link" [routerLink]="'/updates'" (click)="isMenuCollapsed = true">Updates</a>
				</li>
				<li [routerLinkActive]="['active']">
					<a class="nav-link" [routerLink]="'/contact'" (click)="isMenuCollapsed = true">Contact Me</a>
				</li>
			</ul>
		</div>
		</nav>
	

