<h2  style = "text-indent:10px"> About Me: </h2>
<mat-divider></mat-divider>

<div fxLayout = 'row' fxLayout.xs = 'column'>

	<div fxLayout = 'column' fxFlex = 30% style="background:whitesmoke">
		<img src= "../../assets/images/icon.jpg" width = "100%" height = "auto">
	</div>

	<div fxLayout = 'column' style="background:whitesmoke; padding:20px; margin: 5px;">

		<p>Hello, welcome to my website. I am Richard, a current undergraduate student in HKUST, studying Computer science and Mathematics.</p>

	    <p>In this information era, the amount of frameworks in the field of CS is exploding, while constantly revising and updating at the same time.
	    Past tools becomes obselote in years. School and university no longer suffices. Therefore, the only way out is self-initiated learning...</p>

	    <p> Luckily, methods of learning have also evolved.
	    Resources that are limited in the past are readily accessible to everyone, like online learning materials. </p>

	    <p>The development of this website is thanks to one of these online resources.
	    Web development is a very practical skill that oppose schools' nature of being theoretically.
	     Therefore, I can only learn web in my extra-curricular time.

	     <p>To ensure I gain all the essential skills,
	     I construct this website to test my understanding.
	     Having a personal website is cool as well!</p>

	</div>
</div>
