<h2  style = "text-indent:10px"> Contact Me: </h2>
<mat-divider></mat-divider>

	<div fxLayout = 'column' fxLayoutAlign="center center" style="background:whitesmoke; padding:20px; margin: 5px;">

		<a href="mailto:kfngai@connect.ust.hk" class="button email"><span><i class="fa fa-inbox"></i></span><p>Find Me by Email</p></a>

		<a href="tel:+85268738416" class="button phone"><span><i class="fa fa-phone"></i></span><p>Call Me on Phone (+852-68748416)</p></a>

		<a href="https://www.facebook.com/richard.ng.37669528" class="button facebook"><span><i class="fa fa-facebook"></i></span><p>Find Me on Facebook</p></a>

		<a href="https://github.com/ngkafong" class="button github"><span><i class="fa fa-github"></i></span><p>Find Me on Github</p></a>
</div>
