<mat-tab-group *ngIf = "activities" selectedIndex={{message}} >
  <mat-tab *ngFor = "let activity of activities" label={{activity.title}}>

  	<div fxLayout = 'row' fxLayout.xs = 'column'>

		<div fxLayout = 'column' fxFlex = 70% style="background:whitesmoke; padding:20px; margin: 5px;">
        <div class = 'dates'>
          <p> [ Posting on: {{activity.date}} ] </p>
        </div>
        <p>{{activity.content}}</p>
		</div>

		<div fxLayout = 'column' fxFlex = 30% style="background:whitesmoke">
			<img src= {{activity.image}} width = "100%" height = "auto">
		</div>
</div>

  </mat-tab>
</mat-tab-group>
